.welcome-login {
  background-image: linear-gradient(0deg, #fff4c4, #fff);
}

.welcome-login h2 {
  font-size: clamp(20px, 2.27vw, 35px);
}

@media (max-width: 885px) {
  .login {
    flex-direction: column;
  }
  .welcome-login,
  .credentials {
    width: 100%;
  }
  .welcome-login {
    height: 35vh;
    padding: 5px 2px;
  }
  .welcome-login img {
    height: 50%;
  }
  .credentials{
    height: auto;
  }
}

@media (max-width: 500px) {
  .welcome-login img {
    height: 70%;
    margin-top: 10px;
  }
}
